/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../_/components/sass/styles.scss */
html {
  min-height: 100%;
}

/* line 8, ../_/components/sass/styles.scss */
body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 1em;
}

/* line 13, ../_/components/sass/styles.scss */
p.error {
  color: Red;
  font-weight: bold;
}

/* line 17, ../_/components/sass/styles.scss */
.modal-body {
  padding-top: 0;
}

/* line 20, ../_/components/sass/styles.scss */
.modal-dialog {
  width: 875px;
  margin-top: 5px;
}

/* line 24, ../_/components/sass/styles.scss */
.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 28, ../_/components/sass/styles.scss */
.modal-footer {
  border-top: 0px;
}

/* line 31, ../_/components/sass/styles.scss */
.wrapperContainer {
  width: 870px;
  margin: 0 auto;
  padding-top: .5em;
}

/* line 36, ../_/components/sass/styles.scss */
.resultDCDCDC {
  background-color: #DCDCDC;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 43, ../_/components/sass/styles.scss */
.resultDCDCDC:hover {
  background-color: #bfbfbf;
  cursor: pointer;
  transition: all .125s ease-in;
}

/* line 49, ../_/components/sass/styles.scss */
.resultC8DAE8 {
  background-color: #C8DAE8;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 56, ../_/components/sass/styles.scss */
.resultC8DAE8:hover {
  background-color: #93b7d2;
  cursor: pointer;
  transition: all .125s ease-in;
}

/* line 62, ../_/components/sass/styles.scss */
ul.resultList {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 67, ../_/components/sass/styles.scss */
ul.resultListLoop li {
  display: inline;
}

/* line 70, ../_/components/sass/styles.scss */
.resultCount {
  float: left;
  margin-top: -30px;
}

/* line 74, ../_/components/sass/styles.scss */
.lastUpdate {
  float: right;
  margin-top: -37px;
}

/* line 78, ../_/components/sass/styles.scss */
.resultCountIndexPage {
  float: right;
  margin-top: -37px;
}

/* line 82, ../_/components/sass/styles.scss */
li.listResultName {
  font-weight: 600;
  display: inline;
  width: 300px;
  float: left;
  padding-left: 10px;
  margin-right: 20px;
}

/* line 90, ../_/components/sass/styles.scss */
li.listResultEmployer,
.listResultTitle {
  font-weight: 500;
  font-size: .8em;
  display: inline;
  width: 235px;
  float: left;
  padding-top: 3px;
  margin-right: 35px;
}

/* line 100, ../_/components/sass/styles.scss */
hr.searchRuleIndexPage, .memberDetailsPage {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0 10px 0;
}

/* line 108, ../_/components/sass/styles.scss */
hr.searchRule {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 10px;
  margin-top: 3px;
}

/* line 117, ../_/components/sass/styles.scss */
hr.rowRule {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid rgba(255, 255, 255, 0.3);
  margin: 5px 0 10px 0;
}

/* line 125, ../_/components/sass/styles.scss */
p.fullName {
  margin-bottom: .9em;
  padding-top: 5px;
}

/* line 129, ../_/components/sass/styles.scss */
span.nameBold {
  font-weight: bold;
}

/* line 132, ../_/components/sass/styles.scss */
.rowOneColOne, .rowTwoColOne, .rowThreeColOne,
.rowFourColOne, .rowFiveColOne {
  width: 435px;
  float: left;
}

/* line 137, ../_/components/sass/styles.scss */
.rowOneColTwo, .rowTwoColTwo, .rowThreeColTwo,
.rowFourColTwo, .rowFiveColTwo {
  width: 435px;
  float: left;
}

/* line 142, ../_/components/sass/styles.scss */
.rowFiveColOne, .rowFiveColTwo {
  height: 1.5em;
}

/* line 145, ../_/components/sass/styles.scss */
ul.rightListItem li, ul.leftListItem li {
  display: inline;
  font-size: .8em;
  margin-bottom: .4em;
  line-height: 1.1;
}
/* line 150, ../_/components/sass/styles.scss */
ul.rightListItem li:first-child, ul.leftListItem li:first-child {
  font-weight: bold;
  float: left;
  width: 152px;
}
/* line 155, ../_/components/sass/styles.scss */
ul.rightListItem li:nth-child(2), ul.leftListItem li:nth-child(2) {
  float: left;
  width: 282px;
}

/* line 162, ../_/components/sass/styles.scss */
ul.leftListItem li:nth-child(2):after, ul.rightListItem li:nth-child(2):after {
  content: ".";
  color: #fff;
}

/* line 168, ../_/components/sass/styles.scss */
.notes {
  width: 300px;
  font-size: .8em;
  float: left;
}

/* line 173, ../_/components/sass/styles.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 177, ../_/components/sass/styles.scss */
.editButton {
  height: 1.9em;
  width: 4em;
  background-color: #228B22;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  float: right;
  cursor: pointer;
  float: right;
}
/* line 188, ../_/components/sass/styles.scss */
.editButton:hover {
  background-color: #28a428;
}

/* line 192, ../_/components/sass/styles.scss */
.btn-primary {
  height: 1.9em;
  width: 4em;
  background-color: #228B22;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  float: right;
  margin-top: -.2em;
  margin-right: 7.5em;
  cursor: pointer;
  line-height: .333;
}

/* line 206, ../_/components/sass/styles.scss */
.btn-lg {
  line-height: .333;
  padding: 10px 10px;
}

/* line 210, ../_/components/sass/styles.scss */
button.saveButton {
  width: 4em;
  background-color: #228B22;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  float: right;
  padding: .5em;
  margin-top: 0em;
  margin-left: 8px;
  margin-right: 120px;
}
/* line 222, ../_/components/sass/styles.scss */
button.saveButton:hover {
  color: #fff;
  background-color: #28a428;
  cursor: pointer;
}

/* line 228, ../_/components/sass/styles.scss */
button.cancelButton {
  width: 4em;
  background-color: #ff1a1a;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 1em;
  float: right;
  padding: .5em;
  margin-top: 0em;
  margin-left: 10px;
}
/* line 239, ../_/components/sass/styles.scss */
button.cancelButton:hover {
  color: #fff;
  background-color: #ff4d4d;
  cursor: pointer;
}

/* line 245, ../_/components/sass/styles.scss */
ul.fullName li {
  display: inline;
}
/* line 247, ../_/components/sass/styles.scss */
ul.fullName li:nth-child(n+1):nth-child(even):nth-child(-n+6) {
  font-weight: bold;
  font-size: .8em;
}

/* line 253, ../_/components/sass/styles.scss */
ul.cityState li:nth-child(2) {
  width: 170px;
}

/* line 258, ../_/components/sass/styles.scss */
select[name=role], select[name=chapter],
select[name=contactType] {
  width: 14.063em;
}

/* line 262, ../_/components/sass/styles.scss */
select[name=gender] {
  margin-right: 1.25em;
  font-size: .8em;
}

/* line 266, ../_/components/sass/styles.scss */
input[name=nickname], input[name=title],
input[name=billing_company], input[name=billing_phone],
input[name=moble-phone], input[name=Fax],
input[name=home], input[name=billing_address_1],
input[name=billing_address_2], input[name=addl_email],
input[name=Email], input[name=chapter],
input[name=role], input[name=recruited_by],
input[name=members_code], input[name=Territory],
input[name=source], input[name=code], input[name=level],
input[name=date_i18n], input[name=groups],
input[name=assistant], input[name=assistant_email],
input[name=assistant_phone], input[name=assCell],
input[name=attorneys], input[name=industry],
input[name=nih], input[name=address2] {
  padding-left: .3em;
  height: 1.8em;
  width: 17.5em;
  background-color: #fff;
  color: #696969;
  border: 1px solid #e6e6e6;
  font-size: 1em;
}

/* line 288, ../_/components/sass/styles.scss */
input[name=billing_city], input[name=billing_postcode] {
  padding-left: .3em;
  height: 1.8em;
  width: 12.5em;
  background-color: #fff;
  color: #696969;
  border: 1px solid #e6e6e6;
  font-size: 1em;
}

/* line 297, ../_/components/sass/styles.scss */
input[name=first_name], input[name=last_name],
input[name=Middle] {
  padding-left: .3em;
  margin-bottom: .75em;
  margin-right: .5em;
  height: 1.8em;
  width: 13.4em;
  background-color: #fff;
  color: #696969;
  border: 1px solid #e6e6e6;
  font-size: .8em;
}

/* line 309, ../_/components/sass/styles.scss */
input[name=search] {
  background: url(../images/userSearchMagnifyingGlass.png) no-repeat 0.8em 0.6em;
  padding-left: 3em !important;
  font-size: 14px;
  width: 50%;
  height: 2.5em;
  background-color: #fff;
  color: #000;
  border: 1px solid #e6e6e6 !important;
}

/* line 319, ../_/components/sass/styles.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 324, ../_/components/sass/styles.scss */
.cf:after {
  clear: both;
}

/* line 327, ../_/components/sass/styles.scss */
.cf {
  *zoom: 1;
}
