/* line 5, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p643@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../_/components/sass/styles.scss */
html {
  min-height: 100%;
}

/* line 8, ../_/components/sass/styles.scss */
body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 1em;
}

/* line 13, ../_/components/sass/styles.scss */
.modal-body {
  padding-top: 0;
}

/* line 16, ../_/components/sass/styles.scss */
.modal-dialog {
  width: 875px;
  margin-top: 5px;
}

/* line 20, ../_/components/sass/styles.scss */
.modal-header {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 24, ../_/components/sass/styles.scss */
.modal-footer {
  border-top: 0px;
}

/* line 27, ../_/components/sass/styles.scss */
.wrapper {
  width: 60em;
  margin: 0 auto;
  padding-top: 2.5em;
}

/* line 32, ../_/components/sass/styles.scss */
.resultDCDCDC {
  background-color: #DCDCDC;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 39, ../_/components/sass/styles.scss */
.resultDCDCDC:hover {
  background-color: #bfbfbf;
  cursor: pointer;
  transition: all .125s ease-in;
}

/* line 45, ../_/components/sass/styles.scss */
.resultC8DAE8 {
  background-color: #C8DAE8;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 52, ../_/components/sass/styles.scss */
.resultC8DAE8:hover {
  background-color: #93b7d2;
  cursor: pointer;
  transition: all .125s ease-in;
}

/* line 58, ../_/components/sass/styles.scss */
ul.resultList {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 63, ../_/components/sass/styles.scss */
ul.resultListLoop li {
  display: inline;
}

/* line 66, ../_/components/sass/styles.scss */
.resultCount {
  float: left;
  margin-top: -30px;
}

/* line 70, ../_/components/sass/styles.scss */
.lastUpdate {
  float: right;
  margin-top: -37px;
}

/* line 74, ../_/components/sass/styles.scss */
.resultCountIndexPage {
  float: right;
  margin-top: -37px;
}

/* line 78, ../_/components/sass/styles.scss */
li.listResultName {
  font-weight: 600;
  display: inline;
  width: 300px;
  float: left;
  padding-left: 10px;
  margin-right: 20px;
}

/* line 86, ../_/components/sass/styles.scss */
li.listResultEmployer,
.listResultTitle {
  font-weight: 500;
  font-size: .8em;
  display: inline;
  width: 300px;
  float: left;
  padding-top: 3px;
}

/* line 95, ../_/components/sass/styles.scss */
hr.searchRuleIndexPage, .memberDetailsPage {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0 10px 0;
}

/* line 103, ../_/components/sass/styles.scss */
hr.searchRule {
  border: 0;
  height: 0;
  width: 842px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 10px 0;
}

/* line 111, ../_/components/sass/styles.scss */
hr.rowRule {
  border: 0;
  height: 0;
  width: 842px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid rgba(255, 255, 255, 0.3);
  margin: 5px 0 10px 0;
}

/* line 119, ../_/components/sass/styles.scss */
p.fullName {
  margin-bottom: .9em;
}

/* line 122, ../_/components/sass/styles.scss */
span.nameBold {
  font-weight: bold;
}

/* line 125, ../_/components/sass/styles.scss */
.rowOneColOne, .rowTwoColOne, .rowThreeColOne,
.rowFourColOne, .rowFiveColOne {
  width: 465px;
  float: left;
}

/* line 130, ../_/components/sass/styles.scss */
.rowOneColTwo, .rowTwoColTwo, .rowThreeColTwo,
.rowFourColTwo, .rowFiveColTwo {
  width: 465px;
  float: left;
}

/* line 135, ../_/components/sass/styles.scss */
ul.leftListItem li {
  display: inline;
}

/* line 138, ../_/components/sass/styles.scss */
ul.leftListItem li, ul.rightListItem li {
  display: inline;
  font-size: .8em;
  margin-bottom: .4em;
  line-height: 1.1;
}
/* line 143, ../_/components/sass/styles.scss */
ul.leftListItem li:first-child, ul.rightListItem li:first-child {
  font-weight: bold;
  float: left;
  width: 152px;
}

/* line 150, ../_/components/sass/styles.scss */
ul.leftListItem li:nth-child(2), ul.rightListItem li:nth-child(2) {
  float: left;
  width: 282px;
}
/* line 153, ../_/components/sass/styles.scss */
ul.leftListItem li:nth-child(2):after, ul.rightListItem li:nth-child(2):after {
  content: ".";
  color: #fff;
}

/* line 159, ../_/components/sass/styles.scss */
.notes {
  width: 693px;
  font-size: .8em;
  float: left;
}

/* line 164, ../_/components/sass/styles.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 168, ../_/components/sass/styles.scss */
.btn-primary {
  height: 2.6em;
  width: 9.375em;
  background-color: #228B22;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 1em;
  float: right;
  margin-top: -1.5em;
  margin-right: 7.5em;
  cursor: pointer;
}

/* line 181, ../_/components/sass/styles.scss */
.editButton {
  width: 5.375em;
  float: right;
  margin-top: -3.5em;
  margin-right: 7.5em;
  cursor: pointer;
}

/* line 188, ../_/components/sass/styles.scss */
ul.fullName li {
  display: inline;
}
/* line 190, ../_/components/sass/styles.scss */
ul.fullName li:nth-child(n+1):nth-child(even):nth-child(-n+6) {
  font-weight: bold;
  font-size: .8em;
}

/* line 195, ../_/components/sass/styles.scss */
ul.radioGroup {
  width: 24em;
}

/* line 199, ../_/components/sass/styles.scss */
ul.radioGroup li:nth-child(2) {
  display: block;
  float: none;
  width: 26em;
}
/* line 203, ../_/components/sass/styles.scss */
ul.radioGroup li:nth-child(2) label {
  margin-right: 3em;
}
/* line 207, ../_/components/sass/styles.scss */
ul.radioGroup li:nth-child(3) {
  font-weight: bold;
  width: 152px;
  float: left;
}
/* line 213, ../_/components/sass/styles.scss */
ul.radioGroup li:nth-child(4) label {
  margin-right: 3em;
}

/* line 218, ../_/components/sass/styles.scss */
li.industryLabel label {
  margin-top: 2em;
}

/* line 221, ../_/components/sass/styles.scss */
select[name=role], select[name=chapter],
select[name=status] {
  width: 14.063em;
}

/* line 225, ../_/components/sass/styles.scss */
select[name=salutation] {
  margin-right: 1.25em;
  font-size: .8em;
}

/* line 229, ../_/components/sass/styles.scss */
select[name=industry] {
  margin-top: 2em;
}

/* line 232, ../_/components/sass/styles.scss */
input[name=name], input[name=title],
input[name=company], input[name=office],
input[name=cell], input[name=fax],
input[name=home], input[name=numStreet],
input[name=suite], input[name=cityStateZip],
input[name=primaryEmail], input[name=chapter],
input[name=role], input[name=recruitedBy],
input[name=status], input[name=territory],
input[name=source], input[name=code], input[name=level],
input[name=joinDate], input[name=groups],
input[name=assistant], input[name=assEmail],
input[name=assOffice], input[name=assCell],
input[name=attorneys], input[name=industry],
input[name=nih], input[name=newCLOGC],
input[name=additionalEmail] {
  padding-left: .3em;
  height: 1.8em;
  width: 17.5em;
  background-color: #fff;
  color: #696969;
  border: 1px solid #e6e6e6;
  font-size: 1em;
}

/* line 255, ../_/components/sass/styles.scss */
input[name=firstName], input[name=lastName],
input[name=middleName] {
  padding-left: .3em;
  margin-bottom: .75em;
  margin-right: .5em;
  height: 1.8em;
  width: 15.4em;
  background-color: #fff;
  color: #696969;
  border: 1px solid #e6e6e6;
  font-size: .8em;
}

/* line 267, ../_/components/sass/styles.scss */
input[name=search] {
  background: url(../images/userSearchMagnifyingGlass.png) no-repeat 0.8em 0.6em;
  padding-left: 3em !important;
  font-size: 14px;
  width: 50%;
  height: 2.5em;
  background-color: #fff;
  color: #000;
  border: 1px solid #e6e6e6 !important;
}

/* line 277, ../_/components/sass/styles.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 282, ../_/components/sass/styles.scss */
.cf:after {
  clear: both;
}

/* line 285, ../_/components/sass/styles.scss */
.cf {
  *zoom: 1;
}
