/* line 6, ../_/components/sass/styles.scss */
html {
  min-height: 100%;
}

/* line 9, ../_/components/sass/styles.scss */
body {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 1em;
}

/* line 14, ../_/components/sass/styles.scss */
.wrapper {
  width: 60em;
  margin: 0 auto;
  padding-top: 5em;
}

/* line 19, ../_/components/sass/styles.scss */
input[name=search] {
  background: url(../images/userSearchMagnifyingGlass.png) no-repeat 0.8em 0.6em;
  padding-left: 3em !important;
  margin-bottom: .75em !important;
  font-size: 14px;
  width: 50%;
  height: 2.5em;
  background-color: #fff;
  color: #000;
  border: 1px solid #e6e6e6 !important;
}

/* line 30, ../_/components/sass/styles.scss */
.resultDCDCDC {
  background-color: #DCDCDC;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 37, ../_/components/sass/styles.scss */
.resultDCDCDC:hover {
  background-color: #bfbfbf;
  cursor: pointer;
  transition: all .125s ease-in;
}

/* line 43, ../_/components/sass/styles.scss */
.resultC8DAE8 {
  background-color: #C8DAE8;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}
/* line 50, ../_/components/sass/styles.scss */
.resultC8DAE8:hover {
  background-color: #93b7d2;
  cursor: pointer;
  transition: all .125s ease-in;
}

/* line 56, ../_/components/sass/styles.scss */
ul.resultList {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* line 61, ../_/components/sass/styles.scss */
.resultCount {
  float: right;
  margin-top: -40px;
}

/* line 65, ../_/components/sass/styles.scss */
li.listResultName {
  font-weight: 600;
  display: inline;
  width: 300px;
  float: left;
  padding-left: 10px;
  margin-right: 20px;
}

/* line 73, ../_/components/sass/styles.scss */
li.listResultEmployer {
  font-weight: 500;
  font-size: .8em;
  display: inline;
  width: 300px;
  float: left;
  padding-top: 3px;
}

/* line 81, ../_/components/sass/styles.scss */
li.listResultTitle {
  font-weight: 500;
  font-size: .8em;
  display: inline;
  width: 300px;
  float: left;
  padding-top: 3px;
}

/* line 89, ../_/components/sass/styles.scss */
hr.searchRule {
  border: 0;
  height: 0;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px solid rgba(255, 255, 255, 0.3);
  margin-top: 0px;
}

/* line 97, ../_/components/sass/styles.scss */
a {
  text-decoration: none;
  color: #000;
}

/* line 101, ../_/components/sass/styles.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 106, ../_/components/sass/styles.scss */
.cf:after {
  clear: both;
}

/* line 109, ../_/components/sass/styles.scss */
.cf {
  *zoom: 1;
}
