@import 'compass';
@import "compass/reset";
@import 'variables';

html {
    min-height: 100%;
}
body {
	@include box-sizing(border-box);
	font-family: $font-stack;
	font-size: 1em;
}
.modal-body {
	padding-top: 0;
}
.modal-dialog {
    width: 875px;
    margin-top: 5px;
}
.modal-header {
	padding-top: 5px;
	padding-bottom: 5px;	
}
.modal-footer {
	border-top: 0px;
}
.containerWrapper {
	width: 60em;
	margin: 0 auto;
	padding-top: .5em;
}
.resultDCDCDC  {
	background-color: #DCDCDC;
	width: 100%;
	height: auto;
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
		&:hover {
			background-color: #bfbfbf;
			cursor: pointer;
			transition: all .125s ease-in;
		}
}
.resultC8DAE8 {
	background-color: #C8DAE8;
	width: 100%;
	height: auto;	
	margin-bottom: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
		&:hover {
			background-color: #93b7d2;
			cursor: pointer;
			transition: all .125s ease-in;
		}
}
ul.resultList {
	width: 100%;
	padding: 0;
	margin: 0;
}
ul.resultListLoop li {
	display: inline;
}
.resultCount {
	float: left;
	margin-top: -30px;
}
.lastUpdate {
	float: right;
	margin-top: -37px;
}
.resultCountIndexPage {
	float: right;
	margin-top: -37px;
}
li.listResultName {
	font-weight: 600;
	display: inline;
	width: 300px;
	float: left;
	padding-left: 10px;
	margin-right: 20px;
}
li.listResultEmployer,
.listResultTitle {
	font-weight: 500;
	font-size: .8em;
	display: inline;
	width: 300px;
	float: left;
	padding-top: 3px;
}
hr.searchRuleIndexPage, .memberDetailsPage {
	border: 0;
	height: 0;
	width: 100%;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 0px solid rgba(255, 255, 255, 0.3);
	margin: 10px 0 10px 0;
}
hr.searchRule {
	border: 0;
	height: 0;
	width: 842px;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 0px solid rgba(255, 255, 255, 0.3);
	margin-bottom: 10px;
}
hr.rowRule {
	border: 0;
	height: 0;
	width: 842px;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 0px solid rgba(255, 255, 255, 0.3);
	margin: 5px 0 10px 0;
}
p.fullName {
	margin-bottom: .9em;
}
span.nameBold {
	font-weight: bold;
}
.rowOneColOne, .rowTwoColOne, .rowThreeColOne,
.rowFourColOne, .rowFiveColOne {
	width: 465px;
	float: left;
}
.rowOneColTwo, .rowTwoColTwo, .rowThreeColTwo,
.rowFourColTwo, .rowFiveColTwo {
	width: 465px;
	float: left;
}
ul.leftListItem li {
	display: inline;
}
ul.leftListItem li, ul.rightListItem li {
	display: inline;
	font-size: .8em;
	margin-bottom: .4em;
	line-height: 1.1;
		&:first-child {
			font-weight: bold;
			float: left;
			width: 152px;
		}
}
ul.leftListItem li, ul.rightListItem li {
	&:nth-child(2) {
		float: left;
		width: 282px;
			&:after {
				content: ".";
				color: #fff; 
			}	
	}
}
.notes {
	width: 693px;
	font-size: .8em;
	float: left;
}
a {
	text-decoration: none;
	color: #000;
}
.btn-primary {
	height: 1.9em;
	width: 4em;
	background-color: #228B22;
	border: none;
	border-radius: 8px;
	color: #fff;
	font-size: 1em;
	float: right;
	margin-top: -.2em;
	margin-right: 7.5em;
	cursor: pointer;
}
.btn-lg {
	line-height: .333;
	padding: 10px 10px;
}
.editButton {
	width: 5.375em;
	float: right;
	margin-top: -3.5em;
	margin-right: 7.5em;
	cursor: pointer;
}
button.saveButton {
    height: -0.1em;
    width: 4em;
    background-color: #265a88;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    float: right;
    padding: .5em;
    margin-top: -2.5em;
    	&:hover {
    		color: #fff;
    		cursor: pointer !important;
    	}
}
ul.fullName li {
	display: inline;
		&:nth-child(n+1):nth-child(even):nth-child(-n+6) {
			font-weight: bold;
			font-size: .8em;
		}
}
ul.cityState li {
	&:nth-child(2) {
		width: 170px;
	}
}
select[name=role], select[name=chapter],
select[name=status]  {
	width: 14.063em;
}
select[name=salutation] {
	margin-right: 1.25em;
	font-size: .8em;
}
input[name=name],input[name=title],
input[name=company],input[name=office],
input[name=cell],input[name=fax],
input[name=home],input[name=address1],
input[name=suite],input[name=additionalEmail],
input[name=primaryEmail],input[name=chapter],
input[name=role],input[name=recruitedBy],
input[name=status],input[name=territory],
input[name=source],input[name=code],input[name=level],
input[name=joinDate],input[name=groups],
input[name=assistant],input[name=assEmail],
input[name=assOffice],input[name=assCell],
input[name=attorneys],input[name=industry],
input[name=nih],input[name=newCLOGC],
input[name=address2] {
	padding-left: .3em;
	height: 1.8em;
	width: 17.5em;
	background-color: #fff;
	color: #696969;
	border: 1px solid #e6e6e6;
	font-size: 1em;
}
input[name=cityStateZip] {
	padding-left: .3em;
	height: 1.8em;
	width: 12.5em;
	background-color: #fff;
	color: #696969;
	border: 1px solid #e6e6e6;
	font-size: 1em;
}
input[name=firstName], input[name=lastName],
input[name=middleName] {
	padding-left: .3em;
	margin-bottom: .75em;
	margin-right: .5em;	
	height: 1.8em;
	width: 15.4em;
	background-color: #fff;
	color: #696969;
	border: 1px solid #e6e6e6;
	font-size: .8em;
}
input[name=search] {
	background: url(../images/userSearchMagnifyingGlass.png) no-repeat .8em .6em;
	padding-left: 3em !important;
	font-size: 14px;
	width: 50%;
	height: 2.5em;
	background-color: #fff;
	color: #000;
	border: 1px solid #e6e6e6 !important;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
